name: Android CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Install SDK Packages
        run: |
          sdkmanager "platform-tools" "build-tools;34.0.0" "platforms;android-34" "cmdline-tools;12.0"

      - name: Grant execute permission to Gradle
        run: chmod +x ./gradlew

      - name: Build Debug APK
        run: ./gradlew assembleDebug --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: vibra-debug-apk
          path: app/build/outputs/apk/*/*.apk
